@charset "UTF-8";
article header, .authorheader {
  margin: 30px 0 35px 0; }

.articletitle.draft {
  background: url(../img/graphy.png);
  background-position: 50% 50%; }

.articletitle, .authorname {
  font-family: schoolbook-web-condensed,Georgia;
  font-size: 36pt; }

.articlesubtitle {
  font-family: myriad-pro,helvetica,arial;
  font-weight: normal;
  font-size: 22pt;
  margin-top: 10px; }

.charsremaining {
  float: right;
  position: relative;
  top: -25px;
  right: 3px;
  padding: 0 5px;
  background-color: #fff;
  z-index: 99;
  color: green; }

#subtitle.charsremaining {
  top: -55px; }

.lowchars {
  color: #E3170D; }

.toolongwarning {
  border: 2px solid red; }

/* NEXT/PREV IN SERIES */
.article_header_nav {
  position: relative; }

.article_header_nav ul {
  position: absolute; }

.article_header_nav ul.leftmargin {
  left: -240px; }

.article_header_nav ul.rightmargin {
  right: -240px; }

.article_header_nav ul li {
  opacity: .5; }

.article_header_nav ul li:hover {
  opacity: 1; }

#articlebodycontainer {
  position: relative; }

#articlebody {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* AUTHOR AND DATE */
#authorblock {
  /* reserved for future use! */ }

#authorblock .opinion-notice {
  font-family: myriad-pro,helvetica,arial;
  font-style: italic;
  margin-bottom: 15px; }

#authorblock .opinion-icon {
  display: block;
  float: left;
  margin-right: 3px; }

.authortile {
  display: block;
  position: relative;
  float: left;
  margin-right: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid white;
  font-size: 11pt; }

.authortile:hover {
  border-bottom: 1px solid darkblue; }

.authortile .articleauthor:hover {
  color: darkblue !important; }

.authortile .authorpic {
  height: 50px;
  margin-right: 5px;
  float: left; }

.authortile .authortext {
  float: right; }

.authortile.opinion {
  margin-bottom: 20px; }

.authortile.opinion .authortext {
  padding: 0; }

.authortile.opinion .articleauthor {
  font-size: 130%; }

.authortile.opinion .articleauthorjob {
  font-size: 110%;
  padding-bottom: 0; }

.articleauthor {
  font-family: myriad-pro,helvetica,arial;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #333; }

.articleauthorjob {
  font-family: myriad-pro,helvetica,arial;
  font-weight: normal;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 5px; }

.authortile .delete {
  position: absolute;
  left: -9px;
  top: -7px;
  background: white;
  display: none; }

.authortile:hover .delete, .authortile .delete:hover {
  display: inherit; }

.authortile .delete:hover {
  color: red;
  cursor: pointer; }

.bonus .articleauthor, .bonus .articleauthorjob {
  text-transform: none !important;
  padding: 0 !important;
  min-width: 110px; }

.articledate {
  clear: left;
  font-size: 11pt;
  font-family: myriad-pro,helvetica,arial; }

/* TOOLBOX */
.toolbox {
  margin-top: -70px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 190px;
  float: right;
  font-family: myriad-pro, helvetica, arial;
  font-size: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.toolbox button {
  margin: 0;
  padding: 2px;
  height: 20px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  text-align: left; }

.toolbox button .buttontext {
  position: relative;
  bottom: 2px; }

.toolbox .fb-like {
  margin-bottom: 2px; }

.toolbox .readerEmbed {
  height: 19px;
  margin-bottom: 4px;
  margin-top: 3px; }

.toolbox .readericon {
  height: 18px;
  margin-left: 4px;
  cursor: pointer;
  /*five bucks says this doesn't work in IE*/ }

.toolbox #addtoreader {
  display: inline-block;
  margin-top: 3px; }

/* TABLE OF CONTENTS */
#toc_container {
  position: absolute;
  left: -200px;
  top: 0px;
  width: 160px;
  font-family: minion-pro,Garamond;
  font-size: 10pt;
  text-transform: uppercase;
  /*font-variant: small-caps;*/
  text-align: right;
  color: darkgray; }

.toc_header {
  display: none; }

.toc_content {
  overflow: auto; }

.toc_content a {
  display: block;
  color: darkgray;
  text-decoration: none;
  margin-left: 0 !important;
  padding: 5px;
  border-right: 1px solid white; }

.toc_content a.active {
  color: black; }

.toc_content a:hover {
  color: darkblue;
  border-right: 1px solid darkblue; }

.toc_content a.indent {
  list-style-type: none; }

.toc_top {
  float: right; }

/* FIGURES */
.articlebody h3, figure#contents h3 {
  font-size: 16pt;
  font-variant: small-caps;
  margin: 0.7em 0;
  clear: left; }

#article-sidebar:hover {
  opacity: 1 !important; }

figure {
  position: relative;
  clear: right; }

figure .articlephoto {
  width: 100%;
  margin-bottom: -5px; }

figure.bigphoto {
  float: none;
  margin: 0px 0 30px 0;
  width: 100%; }

figure p {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: myriad-pro,helvetica,arial; }

figcaption {
  /* reserved for future use */ }

figcaption p {
  line-height: 1; }

.photocredit {
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin: 0;
  color: gray; }

.photocredit a {
  color: gray; }

.photocredit a:hover {
  color: darkblue; }

.photocaption {
  font-size: 14px;
  margin: 0; }

.articlemedia {
  padding-top: 25px; }

.articlemedia .delete {
  position: absolute;
  right: 7px;
  top: 0px;
  color: white;
  text-shadow: 0 0 10px black;
  z-index: 99; }

.articlemedia .delete:hover {
  color: red;
  cursor: pointer; }

.articlemedia .bigPhotoToggle, .articlemedia .bigAttachmentToggle {
  position: absolute;
  left: 3px;
  top: 0;
  color: white;
  text-shadow: 0 0 10px black;
  z-index: 99; }

.articlemedia .bigPhotoToggle:hover, .articlemedia .bigAttachmentToggle:hover {
  color: lightgray;
  text-shadow: 0 0 10px black;
  cursor: pointer; }

figure#contents h3 {
  margin: 0; }

figure#contents ul, figure#contents li {
  list-style: none;
  margin: 0;
  padding: 0; }

.lede {
  /*font-variant: small-caps;*/
  text-transform: uppercase;
  font-weight: bold; }

/* VIDEO */
/* responsive video: http://webdesignerwall.com/tutorials/css-elastic-videos */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* ASIDES */
aside {
  width: 320px;
  float: right;
  margin: 25px -100px 25px 25px; }

.pullquote .quote {
  font-size: 20px; }

.pullquote .attribution {
  font-style: italic;
  font-size: 16px; }

#articlefooter {
  margin-top: 20px; }

button {
  cursor: pointer; }

button img {
  margin-top: 2px; }

/* FOR NON-IPHONES */
@media all and (min-width: 481px) {
  #mainstory {
    margin: 0 auto;
    width: 890px; }

  #articlebody, #articlefooter {
    /* width: 620px;
    margin-left: 80px; */
    margin-right: 220px; }

  /* some rejiggering required so that, when you follow an anchor link, the header isn't hidden behind the fixed header */
  /* i.e. an anchor offset so you get a good scroll offset — in this case, 50px, cuz that's the header height(ish). */
  .articlebody h3 {
    display: block;
    position: relative;
    top: -50px;
    padding-top: 50px;
    margin-top: 18px;
    margin-bottom: -32px; }

  figure.mini {
    width: 200px; }

  aside {
    width: 320px;
    float: right;
    margin: 25px -100px 25px 25px; } }
/* FOR TABLETS */
@media all and (max-width: 960px) {
  #mainstory {
    width: 100%;
    margin: 0; }

  #articlebody, #articlefooter {
    width: 100%;
    margin-left: 0; }

  #toc_container {
    display: none; }

  figure.authorpic {
    display: none; }

  aside {
    margin-right: 25px; } }
/* FOR iPHONES */
@media all and (max-width: 480px) {
  #mainstory {
    font-size: 12pt;
    width: 100%;
    margin: 0; }

  article header {
    margin: 20px 0 0 0; }

  .articletitle {
    font-size: 20pt; }

  .articlesubtitle {
    font-size: 16pt; }

  .toolbox {
    display: none; }

  figure {
    width: 100%;
    margin: 10px 0; } }
