body {
  margin: 0;
  padding: 0;
  color: white;
  background: url(../img/starring.png);
  font-family: myriad-pro,helvetica,arial; }

#container {
  width: 70%;
  margin: 0 auto; }

.tiptable {
  width: 100%;
  table-layout: fixed; }

.tiptable td {
  width: 50%; }

.tiptable p {
  font-size: 8pt;
  word-wrap: break-word;
  margin: 0; }

.adupload input {
  width: 200px; }

header {
  padding: 20px; }

footer {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px; }

footer .about {
  font-family: Courier;
  color: darkgray; }

#content {
  background: #141414;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 20px; }

/* TEXT ELEMENTS */
h1 {
  margin: 0;
  text-align: center;
  font-family: Courier;
  font-weight: normal;
  font-size: 630%;
  font-variant: small-caps;
  letter-spacing: 25px;
  color: lightgreen;
  text-shadow: 0 0 5px lightgreen; }

h2 {
  display: block;
  font-family: Courier;
  float: left;
  font-size: 22pt;
  margin: 0 0 20px 0;
  padding-bottom: 12px;
  border-bottom: dotted 1px white; }

h3 {
  clear: both;
  font-family: Courier;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16pt; }

p {
  font-size: 12pt;
  line-height: 16pt; }

a {
  color: lightblue;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.delete {
  color: red !important; }

/* LOGIN */
.loginform {
  width: 50%;
  margin: 30px auto; }

.loginform input {
  width: 100%;
  font-size: 20pt;
  padding: 5px;
  margin-bottom: 20px;
  font-family: Courier;
  background: black;
  color: lightgreen;
  text-shadow: 0 0 0.2em lightgreen; }

.loginform button {
  font-family: Courier;
  background: black;
  color: white;
  font-size: 20pt;
  padding: 5px;
  width: 100px;
  display: block;
  margin: 10px auto; }

.error {
  margin-top: 10px;
  font-family: Courier;
  text-align: center;
  font-size: 200%;
  color: red;
  font-weight: bold;
  letter-spacing: 3px; }

/* FOOTER */
.bonusquote {
  font-family: Courier;
  font-size: 100%;
  padding-bottom: 15px; }

.bonusquoteattribution {
  font-family: Courier;
  font-size: 100%;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: -20px; }

.sunbug a {
  color: white; }

.sunbug a:hover {
  text-decoration: none;
  color: lightblue; }

/* TABLES */
table {
  font-size: 10pt; }

th {
  font-family: Courier;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px dotted white;
  border-left: 1px dotted white;
  padding: 5px; }

td {
  border-left: 1px dotted white;
  padding: 5px;
  vertical-align: top; }

nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  height: 45px;
  float: right;
  border-bottom: dotted 1px white; }

nav ul li {
  display: block;
  list-style: none;
  float: left; }

nav ul li a {
  display: block;
  height: 25px;
  padding: 15px 10px 5px 10px;
  font-family: Courier;
  font-size: 13px;
  text-transform: uppercase;
  color: white; }

nav ul li:hover {
  background: #1e1e1e;
  box-shadow: 0 0 10px darkgray inset;
  border-bottom: 2px dotted lightblue; }

nav ul li a:hover {
  color: lightblue !important;
  text-decoration: none; }

.bonusbar {
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  z-index: 98;
  background: white;
  color: black;
  padding: 10px; }

.bonusbarnav {
  font-size: 24px;
  font-family: myriad-pro,helvetica,arial;
  text-align: left;
  margin: 0;
  padding-bottom: 18px;
  line-height: 24px; }

.bonusbar a {
  color: darkblue; }

/* IMAGES (on ads, issues pages) */
.ad_thumb {
  max-height: 200px;
  max-width: 300px; }

/* FURTHER THINGS BRIAN ADDED WHILE DRUNK */
.delete-link {
  cursor: pointer;
  cursor: hand;
  font-size: 20px;
  color: red; }
