*.DS_Store
.LSOverride
._*

.sass-cache/
*.css.map

/wp-content/themes/twenty*
/sitemap.*
*.sql
!dev.sql

node_modules
.npm
.node_repl_history
*.tgz

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags

/dev-wp-app