.single__content p {
    margin-top: 1em;
}
.small-alert {
    display: none;
}
.options input {
    margin-right: 8px;
}
.year-button {
    display: block;
    width: 100%;
}
.year-button-selected {
    background: #499259;
}
.page-wrap {
    max-width: 95%;
    margin: 0 auto;
}
.single-sidebar {
    float: none;
    clear: both;
    width: 100%;
}
.single__content {
    width: 100%;
    padding: 0;
    border: none;
}
.single__sidebar__heading {
    display: none;
}
.single__sidebar__popular {
    display: none;
}
.map {
    width: 65%;
    height: 90vh;
    float: left;
    position: relative;
    background-color: #FFF;
}
.map-in-place {
    position: fixed;
    top: 10px;
    left: 10px;
}
.map-in-place svg {
    width: 100%;
}
.single__content svg {
    position: absolute;
    width: 100%;
    max-height: 90vh;
    background-color: #FFF;
}
#PINE_HOVER path, #_52_HARPSWELL_HOVER path, #HOWARD_HOVER path, #STOWE_HOVER path,
#COLES_HOVER path, #CHAMBO_HOVER path, #BRUNSWICK_HOVER path, #MAYFLOWER_HOVER path,
#STOWE_INN_HOVER path, #SMITH_HOVER path, #HARPSWELL_HOVER path  {
    pointer-events: all;
}
.cls-9 {
    fill: #D96459;
}
#_52_harpswell .cls-9, #smith .cls-9, #HOWARDHALL .cls-9, #MAYFLOWERAPTS .cls-9  {
    fill: #F2E394;
}
#PINE_HOVER path:hover {
    /*fill: #BADA55;*/
}
.content {
    width: 30%;
    margin-left: 70%;
}
@media only screen and (max-width:50rem) {
    .map {
        display: none;
    }
    .content {
        width: 100%;
        margin: 0;
    }
    .small-alert {
        display: block;
    }
}
.place-info {
    position: absolute;
    left: 27%;
    top: 40%;
    width: 300px;
    /*height: 300px;*/
    border: 3px solid black;
    z-index: 10;
    background-color: white;
    display: none;
    box-shadow: 0 0 5px #555
    /*opacity: 0;*/
}
/*.cls-9{fill:#ed1c24;}*/
.info-content {
    display: none;
    padding: 10px;
    font-size: 1em;
    line-height: 1.2;
}
.form-guide {
    font-weight: bold;
}
label {
    display: block;
}
.form-buttons {
    margin-top: 1em;
}
.map {
    margin-bottom: 50rem;
}