blockquote {
    padding: 0;
    margin: $vertical-rhythm / 2 0;

    padding-left: 1.5em;
    border-left: 5px solid $light-gray;

    font-size: 1.2em;
    line-height: 1.1;
    font-weight: 400;

    font-family: $alt-font-family;

    p {
        margin-top: $vertical-rhythm / 3 * 2;
    }


    cite {
        display: block;
        font-size: 0.7em;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        margin-top: 1rem;
        font-family: $alt-font-family;

        &:before {
            
        }
    }
}