h1, h2, h3, h4, h5, h6 {
	font-family: $headline-font-family;
	line-height: 1;
    margin: $vertical-rhythm 0 $vertical-rhythm / 2;
    letter-spacing: 1%;

    &:first-child {
        margin-top: 0;
    }

    a {
    	text-decoration: none;
    	color: inherit;

    	&:hover {
    		text-decoration: underline;
    	}
    }
}

h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.35em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.14em;
}

h6 {
    font-size: 1em;
}