// article .content {
//     font-size: 1.2em;
//     line-height: 1.7;
// }

p {
    margin: 0;

    // article .content & {
    // 	margin-top: $vertical-rhythm;
    //     hyphens: auto;

    //     &:first-child {
    //     	margin-top: 0;
    //     }
    // }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

figcaption {
	margin-top: 0.5em;
	font-family: $alt-font-family;
}

hr {
	border: none;
	border-top: 1px solid $dark-gray;
	margin: $vertical-rhythm 0;
}