$black: hsl(0, 0%, 8%);
$white: hsl(0, 0%, 97%);
$light-gray: hsl(0, 0%, 50%);
$dark-gray: hsl(0, 0%, 30%);

$red: hsl(6, 81%, 75%);
$green: hsl(145, 57%, 67%);
$yellow: hsl(48, 95%, 68%);

$dark_green: hsl(133, 33%, 33%);

$accent: $dark_green;
$link-color: hsla(218, 75%, 33%, 1);
