.module {
    overflow: hidden;
	padding-bottom: $vertical-rhythm / 2;
	border-bottom: 1px solid $dark-gray;
	margin-bottom: $vertical-rhythm / 2;

    &.no-border {
        border-bottom: none;
    }

    img {
        margin-bottom: 0.3em;
    }
}

.module:last-child {
	border-bottom: none;
}

.read-more {
    text-transform: uppercase;
    font-family: $alt-font-family;
    font-weight: 900;
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 0.9em;

    a {
        color: $dark-gray;

		&.hover {
            color: $black;
        }
    }
}

.article-title {
    margin: 0.1em 0;
	font-weight: 400;
	font-size: 1.6em;

    a:hover {
        color: $link-color;
        text-decoration: none;
    }
}

.article-title--b {
	font-weight: 600;
}

.article-title--thicc {
	font-weight: 700;
}

.article-title--THICC {
	font-weight: 900;
}

.article-title--i {
	font-style: italic;
}

.article-title--tiny {
	font-size: 1.3em;
}

.article-title--huge {
	font-size: 2.5em;
}

.module-excerpt {
    margin: 0.5em 0;
}

.article-subtitle {
    font-family: $headline-font-family;
    font-weight: normal;
    font-style: italic;
}

.byline {
    font-family: $alt-font-family;
    font-weight: bold;
    margin: 0.5em 0;
    font-size: 0.9em;

    a {
        color: $accent;

        &:hover {
            text-decoration: underline;
        }
    }
}

.byline-inline {
    display: inline;
}

.block-title {
    border-bottom: 5px solid $accent;
    width: auto;
    display: inline-block;
    font-family: $alt-font-family;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1em;

    a {
        color: current-color;

        &:hover {
            text-decoration: none;
            color: $accent;
        }
    }

	@include mq-equals(small) {
		font-size: 1.7em;
	}
}

.kicker {
    font-family: $alt-font-family;
    font-weight: bold;
    text-transform: uppercase;
    color: $accent;
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 0.75rem;

    a {
        color: currentcolor;
    }
}

.kicker--large {
	display: inline-block;
	background-color: $accent;
	width: auto;
	padding: 0.7em 0.5em 0.4em;
	color: $white;
}

.horizontal-divider {
	margin: $vertical-rhythm 0;
	border-top: 1px solid $dark-gray
}

.border-right {
	border-right: 1px solid $dark-gray;
}

.border-left {
    border-left: 1px solid $dark-gray;
}

.border-right-lighter {
	border-right: 1px solid $light-gray;
}

.border-bottom {
	border-bottom: 1px solid $dark-gray;
}

.nqireg img {
	border: 1px solid $dark-gray;
}

.nqireg-square {
	padding: 0 5%;
}

@include mq-equals(small) {
	.nqireg-square {
		padding: 0 20%;
	}
}

.nqireg__caption {
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: center;
	font-family: $alt-font-family;
}

.mega-separator {
	height: 2px;
	border-top: 1px solid $black;
	border-bottom: 2px solid $black;
}
