.module-6 {
	margin-bottom: 2em;

	.article-title {
		font-weight: normal;
		font-size: 1.6em;
	}

	.byline {
		color: $dark-gray;
		font-size: 1rem;
		vertical-align: middle;
		margin-left: 0.5em;
	}
}