.module-2 {
	margin-bottom: $vertical-rhythm / 2;
	padding-bottom: $vertical-rhythm / 2;
	border-bottom: 1px solid $light-gray;

	&:last-of-type {
		border-bottom: none;
	}

	@include mq-equals(small) {
		border-bottom: none;
	}

	.article-title {
		margin: 0;
	    font-weight: 500;
	    font-size: 1.2rem;
	}
}

@element '.module-2' and (min-width: 235px) {
	.module-2 .article-title {
		font-size: 1.4rem;
	}
}