.newsletter-signup-module {
	background-color: $black;
	font-size: 1.7rem;
	color: white;
	padding: 2.2em;
	padding-top: 2.2em;
	margin: $vertical-rhythm / 2 0;
	display: flex;
	align-items: center;
	position: relative;

	.arrow {
		position: absolute;
		top: 0;
		left: 2.66em;
		width: 0;
		height: 0;
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-top: 1.58em solid $white;
	}

	h1 {
		display: inline;
		margin: 0;
		margin-right: 1em;
	}

	form {
		display: inline;
		font-family: $alt-font-family;
		display: flex;
	}

	input {
		flex-grow: 3;
		border: none;
	}

	button {
		flex-grow: 1;
		background-color: $accent;
		font-weight: bold;
		border: none;
		color: white;
		padding: 3px 1em;
		position: relative;

		&:hover {
			background-color: lighten($accent, 5);
		}

		&:active {
			background-color: $accent;
			top: 2px;
		}
	}
}
