.print-edition-module {
	display: block;
	padding: 1.5em;
	background-color: #b2c5ab;
	color: $black;
	text-decoration: none;
	overflow: hidden;
	max-height: 250px;
	font-size: 1em;

	&:hover {
		text-decoration: none;

		img {
			transform: translateY(-10px);
		}
	}

	img {
		float: left;
		width: 500px;
		margin-right: 1em;
		border: 1px solid $black;
		transition: transform 0.3s ease;
	}

	p {
		font-size: 1.6em;
		font-family: $alt-font-family;
		text-decoration: underline;
	}

	h1 {
		margin: 0;
		margin-bottom: 0.2em;
		font-size: 4em;
	}
}


