$black: hsl(244, 59%, 25%);
$white: hsl(0, 78%, 70%);
$light-gray: hsl(0, 49%, 70%);
$dark-gray: hsl(0, 0%, 30%);

$red: hsl(6, 78%, 57%);
$green: hsl(145, 63%, 49%);
$yellow: hsl(48, 89%, 50%);

$dark_green: hsl(133, 33%, 33%);

$accent: $dark_green;
$link-color: hsla(218, 75%, 33%, 1);
