$base-font-size: 16px;
$base-font-family: "Minion Pro", 'minion-pro', Georgia, serif;
$base-line-height: 1.5;
$body-background: $white;
$text-color: $black;

$headline-font-family: "Chronicle", serif;
$alt-font-family: "Verlag", sans-serif;

$vertical-rhythm: 1.5em;
$col-padding: 0.8em;