p {
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

figcaption {
	margin-top: -0.2em;
	line-height: 1.3;
	font-size: 0.9em;
	font-family: $alt-font-family;

	strong {
		text-transform: uppercase;
	}
}

hr {
	border: none;
	border-top: 1px solid $dark-gray;
	margin: $vertical-rhythm 0;
}
