<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');


/* 
 * This file exists to hold sensitive data: encryption keys, database
 * passwords, etc. it should NEVER be version-controlled, except as a sample
 * where all variables are bogus.
 */


/*
|--------------------------------------------------------------------------
| Encryption Key
|--------------------------------------------------------------------------
|
| If you use the Encryption class or the Session class you
| MUST set an encryption key.  See the user guide for info.
|
*/
$config['encryption_key'] = '<<a-complex-nondictionary-encryption-key>>';


/*
| -------------------------------------------------------------------
| DATABASE CONNECTIVITY SETTINGS
| -------------------------------------------------------------------
|
| Moved out of database.php, but most of the documentation these settings is
| still over there.
*/

// If we're running off a development mac
if ($_SERVER['SERVER_NAME']=='bowdoinorient.dev') {
    $active_group = 'devmac';
}
// else the production server
else {
    $active_group = 'default';
}

// For production
$db['default']['hostname'] = 'localhost';
$db['default']['username'] = '<<production-mysql-username>>';
$db['default']['password'] = '<<production-mysql-root-password>>';
$db['default']['database'] = '<<production-mysql-database-name>>';
$db['default']['dbdriver'] = 'mysql';
$db['default']['dbprefix'] = '';
$db['default']['pconnect'] = TRUE;
$db['default']['db_debug'] = TRUE;
$db['default']['cache_on'] = FALSE;
$db['default']['cachedir'] = '';
$db['default']['char_set'] = 'utf8';
$db['default']['dbcollat'] = 'utf8_general_ci';
$db['default']['swap_pre'] = '';
$db['default']['autoinit'] = TRUE;
$db['default']['stricton'] = FALSE;

// For development macs
$db['devmac']['hostname'] = 'localhost';
$db['devmac']['username'] = '<<local-mysql-username>>';
$db['devmac']['password'] = '<<local-mysql-password>>';
$db['devmac']['database'] = '<<local-mysql-database-name>>';
$db['devmac']['dbdriver'] = 'mysql';
$db['devmac']['dbprefix'] = '';
$db['devmac']['pconnect'] = TRUE;
$db['devmac']['db_debug'] = TRUE;
$db['devmac']['cache_on'] = FALSE;
$db['devmac']['cachedir'] = '';
$db['devmac']['char_set'] = 'utf8';
$db['devmac']['dbcollat'] = 'utf8_general_ci';
$db['devmac']['swap_pre'] = '';
$db['devmac']['autoinit'] = TRUE;
$db['devmac']['stricton'] = FALSE;